# 杭州萧山区项目`WRF-CMAQ`模拟分析
## 观测结果预处理：*`MET-Data`*

---
*@author: Evan*\
*@date: 2023-08-29*

In [1]:
import xarray as xr
import numpy as np
import pandas as pd

import sys
sys.path.append('../../src/')
from namelist import *

# silence the warning note
import warnings
warnings.filterwarnings("ignore")

In [3]:
# 读取原始数据
xls=pd.read_excel('D:/data/Project_Xiaoshan/obsdata/hz_22-23.xlsx',header=0,na_values=['—',-99])
xls

,Year,Month,Day,Hour,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
0,2022,1,1,0,66.0,43.0,63.0,81.0,124.0,10.0,12.0,45.0,65.0,46.0,74.0,45.0,56.0,0.5,0.9,1
1,2022,1,1,1,60.0,41.0,62.0,70.0,121.0,9.0,12.0,47.0,63.0,40.0,74.0,40.0,40.0,0.5,0.8,1
2,2022,1,1,2,55.0,37.0,61.0,59.0,118.0,9.0,12.0,55.0,62.0,31.0,74.0,36.0,40.0,0.4,0.8,1
3,2022,1,1,3,54.0,36.0,60.0,58.0,115.0,9.0,12.0,53.0,62.0,28.0,74.0,33.0,40.0,0.4,0.8,1
4,2022,1,1,4,58.0,40.0,59.0,66.0,113.0,10.0,12.0,51.0,61.0,27.0,74.0,32.0,40.0,0.5,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420475,2023,12,31,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
420476,2023,12,31,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
420477,2023,12,31,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
420478,2023,12,31,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
420479,2023,12,31,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24

In [4]:
# 将日期与时间列合并
xls['datetime'] = pd.to_datetime(xls['Year'].astype(str)+'-'+xls['Month'].astype(str)+'-'+xls['Day'].astype(str)+' '+xls['Hour'].apply(lambda x: '{0:0>2}'.format(x)))

# 删除“日期”列和“时间”列
xls.drop(['Year','Month','Day','Hour'], axis=1, inplace=True)

# 设置为索引
xls.set_index('datetime',inplace=True)
xls

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,66.0,43.0,63.0,81.0,124.0,10.0,12.0,45.0,65.0,46.0,74.0,45.0,56.0,0.5,0.9,1
2022-01-01 01:00:00,60.0,41.0,62.0,70.0,121.0,9.0,12.0,47.0,63.0,40.0,74.0,40.0,40.0,0.5,0.8,1
2022-01-01 02:00:00,55.0,37.0,61.0,59.0,118.0,9.0,12.0,55.0,62.0,31.0,74.0,36.0,40.0,0.4,0.8,1
2022-01-01 03:00:00,54.0,36.0,60.0,58.0,115.0,9.0,12.0,53.0,62.0,28.0,74.0,33.0,40.0,0.4,0.8,1
2022-01-01 04:00:00,58.0,40.0,59.0,66.0,113.0,10.0,12.0,51.0,61.0,27.0,74.0,32.0,40.0,0.5,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
2023-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
2023-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
2023-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
2023-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24

In [5]:
# 将所有因包含括号等字符被读取为字符串的数据设置为空值
xls = xls.replace(to_replace=[r'\(.*?\)'], value=np.nan, regex=True)

In [7]:
may2022 = xls.loc['2022-05']
may2023 = xls.loc['2023-05']
may2022

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2022-05-01 00:00:00,57.0,40.0,29.0,61.0,56.0,3.0,4.0,31.0,32.0,54.0,89.0,67.0,81.0,0.7,0.5,1
2022-05-01 01:00:00,55.0,38.0,30.0,59.0,56.0,3.0,4.0,30.0,32.0,52.0,89.0,52.0,52.0,0.7,0.5,1
2022-05-01 02:00:00,52.0,35.0,30.0,54.0,57.0,3.0,4.0,27.0,33.0,54.0,89.0,53.0,53.0,0.7,0.5,1
2022-05-01 03:00:00,50.0,34.0,31.0,50.0,58.0,3.0,4.0,22.0,33.0,61.0,89.0,56.0,56.0,0.6,0.6,1
2022-05-01 04:00:00,49.0,34.0,32.0,48.0,58.0,3.0,4.0,21.0,33.0,59.0,89.0,56.0,56.0,0.6,0.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31 19:00:00,33.0,10.0,14.0,22.0,35.0,7.0,7.0,10.0,16.0,103.0,143.0,121.0,121.0,0.7,0.6,24
2022-05-31 20:00:00,32.0,8.0,13.0,18.0,33.0,7.0,7.0,10.0,16.0,100.0,143.0,119.0,121.0,0.8,0.6,24
2022-05-31 21:00:00,27.0,7.0,13.0,14.0,31.0,7.0,7.0,12.0,15.0,86.0,143.0,114.0,121.0,0.8,0.6,24
2022-05-31 22:00:00,25.0,6.0,12.0,12.0,29.0,7.0,7.0,9.0,15.0,79.0,143.0,106.0,121.0,0.8,0.6,24
2022-05-31 23:00:00,24.0,5.0,11.0,10.0,27.0,7.0,7.0,6.0,15.0,75.0,143.0,98.0,121.0,0.8,0.6,24

In [8]:
may2022.to_excel('D:/Download/obs_hz_2205.xlsx',index=True)
may2023.to_excel('D:/Download/obs_hz_2305.xlsx',index=True)

In [10]:
sites = pd.read_excel('D:/data/Project_Xiaoshan/obsdata/sites.xlsx')
sites

    城市        站点          经度         纬度
0   杭州        滨江  120.210999  30.209999
1   杭州        西溪  120.063004  30.274700
2   杭州  千岛湖(对照点)  119.026001  29.635000
3   杭州        下沙  120.348000  30.305799
4   杭州       卧龙桥  120.126999  30.245600
5   杭州      浙江农大  120.190002  30.269199
6   杭州      朝晖五区  120.156998  30.289700
7   杭州      和睦小学  120.120003  30.311899
8   杭州       临平镇  120.301003  30.418301
9   杭州       城厢镇  120.269997  30.181900
10  杭州        云栖  120.087997  30.180799
11  杭州       镇二中  119.946400  30.049400
12  杭州      市府大楼  119.718300  30.236700
13  杭州      消防大队  120.155600  30.286400
14  绍兴       袍江站  120.598000  30.091101
15  绍兴     城东开发委  120.605003  29.991899
16  绍兴      市环保站  120.575996  30.007000
17  绍兴      树下王站  120.778900  30.003300
18  绍兴      绍兴中专  120.568300  29.936100
19  绍兴     柯桥区政府  120.490600  30.086100
20  绍兴      重华小学  120.875200  30.024900
21  绍兴      上虞中学  120.836900  30.013700
22  绍兴      柯桥妇保  120.472200  30.041500
23  绍兴      袍江中学  120.615300  30.076400

In [11]:
# 根据站点分组导出
grouped = may2022.groupby('Station')
i=0
for group_name, group_df in grouped:
    filename = str(sites['城市'][i]+'-'+sites['站点'][i])
    group_df.to_excel(f'D:/Download/{filename}_2022.xlsx', index=True)
    i+=1

print('2022 completed')

grouped = may2023.groupby('Station')
i=0
for group_name, group_df in grouped:
    filename = str(sites['城市'][i]+'-'+sites['站点'][i])
    group_df.to_excel(f'D:/Download/{filename}_2023.xlsx', index=True)
    i+=1
    
print('2023 completed')

2022 completed
2023 completed

In [12]:
# 将全部站点取平均并导出
may2022.groupby(may2022.index).mean().to_excel('D:/Download/avg_2022.xlsx',index=True)
may2023.groupby(may2023.index).mean().to_excel('D:/Download/avg_2023.xlsx',index=True)

处理杭州市数据

In [15]:
hzmay_2022 = may2022[may2022['Station'] < 15]
hzmay_2023 = may2023[may2023['Station'] < 15]
hzmay_2022

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2022-05-01 00:00:00,57.0,40.0,29.0,61.0,56.0,3.0,4.0,31.0,32.0,54.0,89.0,67.0,81.0,0.7,0.5,1
2022-05-01 01:00:00,55.0,38.0,30.0,59.0,56.0,3.0,4.0,30.0,32.0,52.0,89.0,52.0,52.0,0.7,0.5,1
2022-05-01 02:00:00,52.0,35.0,30.0,54.0,57.0,3.0,4.0,27.0,33.0,54.0,89.0,53.0,53.0,0.7,0.5,1
2022-05-01 03:00:00,50.0,34.0,31.0,50.0,58.0,3.0,4.0,22.0,33.0,61.0,89.0,56.0,56.0,0.6,0.6,1
2022-05-01 04:00:00,49.0,34.0,32.0,48.0,58.0,3.0,4.0,21.0,33.0,59.0,89.0,56.0,56.0,0.6,0.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31 19:00:00,38.0,17.0,25.0,38.0,42.0,8.0,9.0,24.0,30.0,90.0,202.0,154.0,156.0,0.8,0.7,14
2022-05-31 20:00:00,38.0,19.0,24.0,38.0,41.0,8.0,9.0,38.0,30.0,58.0,202.0,146.0,156.0,0.8,0.7,14
2022-05-31 21:00:00,38.0,20.0,23.0,38.0,40.0,7.0,9.0,34.0,30.0,49.0,202.0,134.0,156.0,0.8,0.7,14
2022-05-31 22:00:00,39.0,22.0,22.0,39.0,39.0,7.0,9.0,40.0,29.0,38.0,202.0,116.0,156.0,0.8,0.7,14
2022-05-31 23:00:00,36.0,21.0,21.0,36.0,38.0,7.0,9.0,30.0,28.0,44.0,202.0,96.0,156.0,0.8,0.7,14

In [16]:
hzmay_2022.groupby(hzmay_2022.index).mean().to_excel('D:/Download/hz_avg_2022.xlsx',index=True)
hzmay_2023.groupby(hzmay_2023.index).mean().to_excel('D:/Download/hz_avg_2023.xlsx',index=True)